@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

div{

    background-color: royalblue;
    border: 2px solid navajowhite;
    border-radius: 7px;
    width: 800px;
    height: 200px;
    padding: 20px;
    
    margin: 20px;
 overflow:scroll;  
    
}

.main-btn {

    color: #fff;
    background-color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin: 10px;
}
.main-btn:hover{

    background-color: rgb(26, 26, 114) ;
    transform: scale(1.1);
}


#copy:hover{
    background-color: rgb(26, 26, 114) ;
    transform: scale(1.1);


}
#copy{


    
    background-color:#fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 250;
    display: inline-block;
    padding: 0.9375em ;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin: 20px;


}



#ref:hover{
    background-color: rgb(26, 26, 114) ;
    transform: scale(1.1);


}
#ref{


    
    background-color:#fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 250;
    display: inline-block;
    padding: 0.9375em ;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin: 20px;


}


#remove:hover{
    background-color: rgb(26, 26, 114) ;
    transform: scale(1.1);


}
#remove{


    
    background-color:#fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 250;
    display: inline-block;
    padding: 0.9375em ;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin: 20px;


}




#txt:hover{
    background-color: rgb(135, 160, 135) ;
    transform: scale(1.1);


}
#txt{


    
    background-color:#fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 250;
    display: inline-block;
    padding: 0.9375em ;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin: 20px;


}


#date:hover{
    background-color: rgb(135, 160, 135) ;
    transform: scale(1.1);


}
#date{


    
    background-color:#fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 250;
    display: inline-block;
    padding: 0.9375em ;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin: 20px;


}



#time:hover{
    background-color: rgb(135, 160, 135) ;
    transform: scale(1.1);


}
#time{


    
    background-color:#fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 250;
    display: inline-block;
    padding: 0.9375em ;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin: 20px;


}






















